html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-weight: lighter;
}

article {
  margin: 1.3rem;
}

article header p {
  font-style: italic;
  margin: -1.3rem 0 2.6rem 0;
}

.quote {
  color: #555;
}

blockquote {
  font-size: 1.125rem;
  color: #999;
}

body {
  margin: 0;
  margin-bottom: 1.3rem;
  color: #222;
  line-height: 1.3;
}

article ol {
  padding: 0 1.3rem 1.3rem 1em;
}

article header {
  margin: 0;
}

article h1 {
  color: #222;
}

article p {
  color: #222;
}
